OPENSHIFT_MONGODB_DB_USERNAME=admin
OPENSHIFT_MONGODB_DB_PASSWORD=admin
OPENSHIFT_MONGODB_DB_HOST=localhost
OPENSHIFT_MONGODB_DB_URL=mongodb://admin:admin@localhost:27018/
OPENSHIFT_MONGODB_DB_PORT=27018
